.side {
    height: 100vh;
    width: 250px; /* Define a largura do sidebar */
    position: fixed; /* Fixa a posição na tela */
    top: 0;
    left: 0;
    background-color: #0C4A6E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem; /* Espaçamento superior para o conteúdo */
}

.nav {
    display: flex;
    flex-direction: column; /* Organiza os links em uma coluna */
    width: 90%;
    background-color: #0C4A6E;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 0;
    padding-right: 0;
}



.navItem{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.nav-link{
    font-size:larger;
    color: black;
}

